

#index {
    background-color: #1ab7ea;
}

#Turks {
    font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  border: 2px solid black ;
    
}

#beach {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 100px;
}

#carousel {
padding: 5% 10% 20%;

}

#carousel2 {
    padding: 5% 10% 5%;
    
    }

#caro {
    border: 2px solid black ;
    
}

#id {
    height: auto;
    width: auto;
}

h5 {
    font-family: "Bree Serif", serif;
}


.food {
    background-color: #98A869;
}

.Entertainment {
   background-color: #fcf3d5
}


#card {
    padding-left: 10%;
    
}

#cards {
    padding-left: 10%;
    
    
}

h4 {
    border: 2px solid black
}